.box {
    padding: 50px;
    background: lightgray;
    text-align: center;
    border-radius: 5%;
    margin: 5%;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.yours{
    margin-left: 5%;
    margin-top: 2%;
}
