/*****Navbar ******/
.navbar-dark .navbar-nav .nav-link {
    font-size: 20px;
    color: white;
}

.navbar-dark:hover .navbar-nav:hover .nav-link:hover {
    color: #535c68;
}

.navbar-toggler {
    background-color: #535c68;
}

.navbar-brand {
    font-size: 30px;
}

/*****Header Main Page******/
.background-mainPage {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.8)), url("../shared/images/covretest.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    max-width: 100%;
}

.display-3 {
    margin: 10rem 0 1rem;
}

.display-4 {
    color: #535c68;
    margin: 2rem;
}

.quoteMain {
    color: white;
    font-style: italic;
    text-align: right;
    font-weight: 300;
    font-size: 1.7rem;
    margin-top: 2rem;
    padding-right: 3rem;
}

/*****Section Map-Main ******/
.mapMain-section {
    margin: 5rem 0 0;
}

#mapImage {
    width: 95%;
    text-align: center;
    padding-left: 3rem;
    margin: 3rem 0;
}

/*****Section text-Main ******/
.text-mainPage {
    margin-top: 10rem;
}

.text-mainPage p {
    padding: 3rem 0;
    font-size: 25px;
    text-align: justify;
}

/*****Section images-Main ******/
.image-random {
    margin: 15rem 0;
}

.image-random img {
    width: 95%;
    transition: transform 0.5s;
    border: 1px solid #535c68;
    height: 15vw;
    object-fit: cover;
}
.image-random img:hover {
    transform: scale(1.2);
}

/*****Footer ******/
.footer-fluid {
    background-color: #535c68;
    padding: 3rem 1rem 2rem;
    font-size: 1.6rem;
    color: white;
}

.Footer-Note {
    text-align: center;
    font-size: 20px;
    color: white;
    padding: 0.5rem 0 0;
}

#linkedInIcon {
    margin-left: 1rem;
    color: #17A2B8;
}

.name {
    color: white;
}

.name:hover {
    color: #17A2B8;
}

/*****Makes Mural Cards one size******/
.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}

@media only screen and (max-width: 767px) {
    .titleMainPage .display-3 {
        font-size: 240%;
        margin: 0;
    }

    .mapMain-section .display-4 {
        font-size: 2.5rem;
        margin: 0;
        padding: 0;
    }

    .mapMain-section #mapImage {
        width: 95%;
        text-align: center;
        padding: 1rem 0 0 1rem;
    }

    .imageSection .image-random {
        margin: 5rem 0;
    }

}