body {
    background-color: rgba(117, 190, 218, 0.5);
}

#wrapper {
    border: solid black;
    background-color: lightgray;
}

img[alt="My Picture"] {
    float: left;
    width: 22rem;
    padding-right: 1rem;
}